# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Keil
*.uvoptx
*.uvprojx
*.crf
*.i
*.htm
*.lnp
*.axf
*.hex
*.map
*.dep
*.joshu

# Untracked files:
    [...]
    #       Template_Project/Bin/Keil/STM32F7xx/lib.crf
    #       Template_Project/Bin/Keil/STM32F7xx/main.build_log.htm
    #       Template_Project/Bin/Keil/STM32F7xx/main.crf
    #       Template_Project/Bin/Keil/STM32F7xx/main.i
    #       Template_Project/Bin/Keil/STM32F7xx/main.inp
    #       Template_Project/Bin/Keil/STM32F7xx/main.map
    #       Template_Project/Bin/Keil/STM32F7xx/main_STM32F7xx_Target.dep
    #       Template_Project/Bin/Keil/STM32F7xx/rtos.crf
    #       Template_Project/Bin/Keil/STM32F7xx/touch_ft6206.crf
    #       Template_Project/main_STM32F7xx.uvguix*
    [...]
